<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzu.camel.mapper.StoreMapper" >
  <resultMap id="BaseResultMap" type="com.gzu.camel.pojo.Store" >
    <id column="storeid" property="storeid" jdbcType="INTEGER" />
    <id column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="sname" property="sname" jdbcType="VARCHAR" />
    <result column="sphone" property="sphone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    storeid, userid, sname, sphone
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gzu.camel.pojo.StoreExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from store
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gzu.camel.pojo.StoreKey" >
    select 
    <include refid="Base_Column_List" />
    from store
    where storeid = #{storeid,jdbcType=INTEGER}
      and userid = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.gzu.camel.pojo.StoreKey" >
    delete from store
    where storeid = #{storeid,jdbcType=INTEGER}
      and userid = #{userid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.gzu.camel.pojo.StoreExample" >
    delete from store
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gzu.camel.pojo.Store" >
    insert into store (storeid, userid, sname, 
      sphone)
    values (#{storeid,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{sname,jdbcType=VARCHAR}, 
      #{sphone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gzu.camel.pojo.Store" >
    insert into store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storeid != null" >
        storeid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="sname != null" >
        sname,
      </if>
      <if test="sphone != null" >
        sphone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storeid != null" >
        #{storeid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="sname != null" >
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="sphone != null" >
        #{sphone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gzu.camel.pojo.StoreExample" resultType="java.lang.Integer" >
    select count(*) from store
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update store
    <set >
      <if test="record.storeid != null" >
        storeid = #{record.storeid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.sname != null" >
        sname = #{record.sname,jdbcType=VARCHAR},
      </if>
      <if test="record.sphone != null" >
        sphone = #{record.sphone,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update store
    set storeid = #{record.storeid,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=VARCHAR},
      sname = #{record.sname,jdbcType=VARCHAR},
      sphone = #{record.sphone,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gzu.camel.pojo.Store" >
    update store
    <set >
      <if test="sname != null" >
        sname = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="sphone != null" >
        sphone = #{sphone,jdbcType=VARCHAR},
      </if>
    </set>
    where storeid = #{storeid,jdbcType=INTEGER}
      and userid = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gzu.camel.pojo.Store" >
    update store
    set sname = #{sname,jdbcType=VARCHAR},
      sphone = #{sphone,jdbcType=VARCHAR}
    where storeid = #{storeid,jdbcType=INTEGER}
      and userid = #{userid,jdbcType=VARCHAR}
  </update>
  <!-- 查询所有用户 -->
  <select id="selectAllStore" resultType="com.gzu.camel.pojo.Store">
  select * FROM store
  </select>
  <!-- 查询单个用户信息 -->
  <select id="selectStore" parameterType="java.lang.Integer" resultType="store">
  select * from store where storeid = #{storeid,jdbcType=INTEGER}
  </select>
  <select id="deletByid" parameterType="java.lang.Integer">
  delete from store
  where storeid = #{storeid,jdbcType=INTEGER}
  </select>
</mapper>