<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzu.camel.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.gzu.camel.pojo.User" >
    <id column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="utype" property="utype" jdbcType="VARCHAR" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="upassword" property="upassword" jdbcType="VARCHAR" />
    <result column="uphone" property="uphone" jdbcType="VARCHAR" />
    <result column="uaddr" property="uaddr" jdbcType="VARCHAR" />
    <result column="usex" property="usex" jdbcType="VARCHAR" />
    <result column="umoney" property="umoney" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    userid, utype, uname, upassword, uphone, uaddr, usex, umoney
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gzu.camel.pojo.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where userid = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where userid = #{userid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.gzu.camel.pojo.UserExample" >
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gzu.camel.pojo.User" >
    insert into user (userid, utype, uname, 
      upassword, uphone, uaddr, 
      usex, umoney)
    values (#{userid,jdbcType=VARCHAR}, #{utype,jdbcType=VARCHAR}, #{uname,jdbcType=VARCHAR}, 
      #{upassword,jdbcType=VARCHAR}, #{uphone,jdbcType=VARCHAR}, #{uaddr,jdbcType=VARCHAR}, 
      #{usex,jdbcType=VARCHAR}, #{umoney,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.gzu.camel.pojo.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="utype != null" >
        utype,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="upassword != null" >
        upassword,
      </if>
      <if test="uphone != null" >
        uphone,
      </if>
      <if test="uaddr != null" >
        uaddr,
      </if>
      <if test="usex != null" >
        usex,
      </if>
      <if test="umoney != null" >
        umoney,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="utype != null" >
        #{utype,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="upassword != null" >
        #{upassword,jdbcType=VARCHAR},
      </if>
      <if test="uphone != null" >
        #{uphone,jdbcType=VARCHAR},
      </if>
      <if test="uaddr != null" >
        #{uaddr,jdbcType=VARCHAR},
      </if>
      <if test="usex != null" >
        #{usex,jdbcType=VARCHAR},
      </if>
      <if test="umoney != null" >
        #{umoney,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gzu.camel.pojo.UserExample" resultType="java.lang.Integer" >
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user
    <set >
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.utype != null" >
        utype = #{record.utype,jdbcType=VARCHAR},
      </if>
      <if test="record.uname != null" >
        uname = #{record.uname,jdbcType=VARCHAR},
      </if>
      <if test="record.upassword != null" >
        upassword = #{record.upassword,jdbcType=VARCHAR},
      </if>
      <if test="record.uphone != null" >
        uphone = #{record.uphone,jdbcType=VARCHAR},
      </if>
      <if test="record.uaddr != null" >
        uaddr = #{record.uaddr,jdbcType=VARCHAR},
      </if>
      <if test="record.usex != null" >
        usex = #{record.usex,jdbcType=VARCHAR},
      </if>
      <if test="record.umoney != null" >
        umoney = #{record.umoney,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user
    set userid = #{record.userid,jdbcType=VARCHAR},
      utype = #{record.utype,jdbcType=VARCHAR},
      uname = #{record.uname,jdbcType=VARCHAR},
      upassword = #{record.upassword,jdbcType=VARCHAR},
      uphone = #{record.uphone,jdbcType=VARCHAR},
      uaddr = #{record.uaddr,jdbcType=VARCHAR},
      usex = #{record.usex,jdbcType=VARCHAR},
      umoney = #{record.umoney,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gzu.camel.pojo.User" >
    update user
    <set >
      <if test="utype != null" >
        utype = #{utype,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="upassword != null" >
        upassword = #{upassword,jdbcType=VARCHAR},
      </if>
      <if test="uphone != null" >
        uphone = #{uphone,jdbcType=VARCHAR},
      </if>
      <if test="uaddr != null" >
        uaddr = #{uaddr,jdbcType=VARCHAR},
      </if>
      <if test="usex != null" >
        usex = #{usex,jdbcType=VARCHAR},
      </if>
      <if test="umoney != null" >
        umoney = #{umoney,jdbcType=DOUBLE},
      </if>
    </set>
    where userid = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gzu.camel.pojo.User" >
    update user
    set utype = #{utype,jdbcType=VARCHAR},
      uname = #{uname,jdbcType=VARCHAR},
      upassword = #{upassword,jdbcType=VARCHAR},
      uphone = #{uphone,jdbcType=VARCHAR},
      uaddr = #{uaddr,jdbcType=VARCHAR},
      usex = #{usex,jdbcType=VARCHAR},
      umoney = #{umoney,jdbcType=DOUBLE}
    where userid = #{userid,jdbcType=VARCHAR}
  </update>
  
  
  
   <!-- 在此处写自定义sql，方便管理 -->
</mapper>